<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>clj-board</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    
  <style>
  </style>

  </head>
  <body>
    <div id="app">
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://npmcdn.com/react-dnd@2.1.4/dist/ReactDnD.min.js"></script>
    <script src="https://npmcdn.com/react-dnd-html5-backend@2.1.2/dist/ReactDnDHTML5Backend.min.js"></script>
    <script>
        window.onload = function () {
            net.thegeez.clj_board.core.main();
        }
    </script>
  </body>
</html>
